In [1]:
import sys
import os



# Go two levels up: from 'notebooks/task1/' to the project root
sys.path.append(os.path.abspath(os.path.join( '..')))

In [2]:
from src.database_connection import get_connection
conn = get_connection()  # uses defaults
# or with your custom settings:
# conn = get_connection(user='bank_reviews', password='yourpassword', dsn='localhost/XEPDB1')

In [3]:
# 2. Create schema tables (run only once)
banks_table_sql = """
CREATE TABLE banks (
    bank_id      NUMBER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
    bank_name    VARCHAR2(100) NOT NULL,
    abbreviation VARCHAR2(20) NOT NULL,
    app_code     VARCHAR2(100) NOT NULL,
    country      VARCHAR2(50) NOT NULL
)
"""

In [4]:
# 3. Insert bank data (run once)
banks_data = [
    ("Bank of Abissinya", "BOA", "com.boa.boaMobileBanking", "Ethiopia"),
    ("Commercial Bank of Ethiopia", "CBE", "com.combanketh.mobilebanking", "Ethiopia"),
    ("Dashen Bank", "Dashen", "com.dashen.dashensuperapp", "Ethiopia")
]

In [5]:
banks_insert_sql = """
INSERT INTO banks (bank_name, abbreviation, app_code, country)
VALUES (:1, :2, :3, :4)
"""

NameError: name 'df' is not defined